@media screen and (max-width: 600px) {

    /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    .rotate {
        transform: rotate(90deg);
        font-size: 60px;
    }
}

body {
    background-color: black;
    font-size: 100px;
    color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

body>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

span {
    width: 472px;
    display: block;
}